# Sanity CMS Connection
SANITY_PROJECT_ID="dummy-project-id"
SANITY_DATASET="production"

# Resend Email Service (Quote submission)
RESEND_API_KEY=""
BUSINESS_EMAIL="enquiries@karmod-international.com"

# Public Site URL
NUXT_PUBLIC_SITE_URL="https://www.karmodint.co.uk"
